---
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";
const allPosts = await getCollection("posts");
import PageH1 from "../components/PageH1.astro";
---

<Layout title="Parish Life - St. Nicholas Orthodox Church">  
      <link rel="stylesheet" href="/posts.css" />

    <div class="content">
      <PageH1 title="Parish Life" subheader=""/>
      <div class="posts-grid">
        {
          allPosts.map((post) => (
            <a href={`/posts/${post.slug}`} class="post-card">
              <img 
                src={post.data.image || '/images/cross.svg'} 
                alt={post.data.title} 
                class="post-hero-image" 
              />
              <div class="post-card-content">
                <h2>{post.data.title}</h2>
                {post.data.date && (
                  <p class="post-date">{post.data.date.toDateString()}</p>
                )}
                <p>{post.data.description}</p>
              </div>
            </a>
          ))
        }
      </div>
      <a href="/" class="button primary large"><span class="icon-arrow_back_ios"></span> Go to Home</a>
    </div>
</Layout>
