---
interface Resource {
  image: string;
  alt: string;
  heading: string;
  description: string;
  href: string;
  label: string;
}

import "../styles/resources-carousel.scss";


const resources: Resource[] = [
  {
    image: "/images/line-art/gospel.svg",
    alt: "Orthodox Christian Service Texts",
    heading: "Service Texts",
    description: "Explore our collection of Orthodox liturgical service texts, including the Menaion, The Book of Hours, and more.",
    href: "/library/service-texts",
    label: "Browse Service Texts",
  },
  {
    image: "/images/line-art/chalice2.svg",
    alt: "Support St. Nicholas parish",
    heading: "Support Our Parish",
    description:
      "Your generous contributions help maintain our church and support our mission to serve our community and glorify God.",
    href: "/giving",
    label: "Ways to Give",
  },
  {
    image: "/images/line-art/priest.svg",
    alt: "Contact St. Nicholas church",
    heading: "Get in Touch",
    description:
      "Have questions or want to learn more about Orthodoxy? We'd love to hear from you and welcome you to our parish family.",
    href: "/contact",
    label: "Contact Us",
  },
];
---

<div class="splide resources-splide" aria-label="Resources for your faith journey" data-resources-carousel>
  <div class="splide__track">
    <ul class="splide__list">
      {resources.map((r) => (
        <li class="splide__slide">
          <div class="resource-card">
            <img class="line-art" src={r.image} alt={r.alt} />
            <h3>{r.heading}</h3>
            <p>{r.description}</p>
            <a href={r.href} class="button secondary large">{r.label}</a>
          </div>
        </li>
      ))}
    </ul>
  </div>
</div>

<script>
  import Splide from "@splidejs/splide";
  import "@splidejs/splide/dist/css/splide.min.css";

  const el = document.querySelector<HTMLElement>("[data-resources-carousel]");
  if (el) {
    new Splide(el, {
      type: "loop",
      perPage: 3,
      perMove: 1,
      gap: "3rem",
      arrows: false,
      pagination: false,
      drag: false,
      breakpoints: {
        1023: { perPage: 2, arrows: true, pagination: true, drag: true },
        767:  { perPage: 1 },
      },
    }).mount();
  }
</script>
